<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Big Brother Big Sister">
      <meta name="author" content="Michelle Hettinger">
    <!-- The above 3 meta tags must come first in the head; any other head content must come after these tags. -->
    
    <title>Big Brother Big Sister Orlando</title>
    
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="./static/assets/css/bootstrap-theme.min.css" rel="stylesheet">
      <link href="./static/assets/css/bootstrap-social.css" rel="stylesheet">
      <link href="./static/assets/css/mystyles.css" rel="stylesheet">

  </head> 

  <body class="pt-0">
    <!-- Menu Links -->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="border-bottom:1px solid #02fc87;min-height: 132px;text-shadow:none">
        <div class="collapse navbar-collapse mx-auto" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-4">
              <a class="nav-link text-light" href="/">Home</a>
            </li>
            <li class="nav-item active px-4">
              <a class="nav-link text-light" href="/aboutUs">About Us</a>
            </li>
            <li class="nav-item active px-4">
              <a class="nav-link text-light" href="/events">Events</a>
            </li>
            <li class="nav-item active px-4">
              <a class="nav-link text-light navButt" href="/donate">Donate</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="content-container main pb-0 mt-5 pt-5">

          {{{ body }}}

        <div class="content-container centerDivContents pb-2 border-top" style="min-height:372px">
          <h1 class="pt-3">Get To Know Us</h1>
        </div>

        <div class="content-container centerDivContents pb-2 border-top" style="min-height:45px">
          <h4>All rights reserved</h4>
        </div>
      </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <!--  Media query script for different sized screens -->
    <script src="./static/assets/js/enquire.min.js"></script>
  </body>
</html>