<!DOCTYPE html>

<!-- Portion 1 canvas -->
<div class="content-container centerDivContents" style="min-height:549px;border-bottom:1px solid white">
  <div class="row">
    <canvas>
      
    </canvas>
  </div>
</div>

<!-- Portion 2 Meet Team -->
<div class="content-container centerDivContents" style="min-height:1659px;border-bottom:1px solid white">
  <div class="row justify-content-center">
    <h1 class="pt-3" style="margin-bottom: 25px;">Meet Our Team</h1>
  </div>

  <div class="row justify-content-center" style="padding-bottom: 30px;">
    <div class="row justify-content-center" style="min-height:212px;width: 100%">
      <div class="col-2 justify-content-end d-flex">
        <div style="padding-top: 0px;margin-top: 10px;">
          <img src="" style="width: 215px;height:215px"/>
        </div>
      </div>
      <div class="col-6">
        <h3 style="text-align:left;color:white">Kieth Padgett, MPA</br><span class="font-italic">President/CEO</span></h3>
          <p class="pr-5 textAlignStart">
            Keith has spent his entire life counseling, coaching, helping and changing the lives of children as well as transforming and developing programs for a variety of Non-profit children’s organizations, including Pro Kids, Boys &amp Girls clubs of San Dieguito, and multiple Big Brother Big Sisters on the west coast. Keith is now a Big Brother for the third time to a Little Brother in  Orlando. Previously, Keith was a Big Brother in Seattle and in Los Angeles while he worked as President and CEO at those BBBS locations.
          </p>
        <div class="d-flex justify-content-start">
          <button type="button" class="btn btn-link" style="padding:0"><u>keith@bbbs.org</u></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" style="padding-bottom: 30px;">
    <div class="row justify-content-center" style="min-height:212px;width: 100%">
      <div class="col-2 justify-content-end d-flex">
        <div style="padding-top: 0px;margin-top: 10px;">
          <img src="" style="width: 215px;height:215px"/>
        </div>
      </div>
      <div class="col-6">
        <h3 style="text-align:left;color:white">Glen Marie Hamilton</br><span class="font-italic">Chief Operating Officer</span></h3>
          <p class="pr-5 textAlignStart">
            Glen Marie is the Chief Operating Officer at Big Brothers Big Sisters of Central Florida. She began her career with Big Brothers Big Sisters in Tallahassee, FL in 2014. Glen Marie is proud to have been raised in the Central Florida community and is a graduate of West Orange High School. Glen Marie has Bachelor’s Degrees in Criminology and Family and Child Sciences from Florida State University. Glen Marie is an active member of Kappa Delta Chi Sorority, Inc. and enjoys serving her local community and spending time with her husband and family.
          </p>
        <div class="d-flex justify-content-start">
          <button type="button" class="btn btn-link" style="padding:0"><u>GMHamilton@bbbscfl.org</u></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" style="padding-bottom: 30px;">
    <div class="row justify-content-center" style="min-height:212px;width: 100%">
      <div class="col-2 justify-content-end d-flex">
        <div style="padding-top: 0px;margin-top: 10px;">
          <img src="" style="width: 215px;height:215px"/>
        </div>
      </div>
      <div class="col-6">
        <h3 style="text-align:left;color:white">Donette Taylor</br><span class="font-italic">Lead Client Support Manager</span></h3>
          <p class="pr-5 textAlignStart">
            As Lead Client Support Manager, Donette interacts with families and volunteers on a daily basis. Serving with Big Brothers Big Sisters of Central Florida since 2007, she enjoys bearing witness to the impact volunteers (Bigs) make on the lives of their Littles. Donette attended the University of Oklahoma, earning a Bachelor’s in Intercultural Communication and a Master’s in Human Relations. In her spare time, Donette enjoys coaching Track &amp Field.
          </p>
        <div class="d-flex justify-content-start">
          <button type="button" class="btn btn-link" style="padding:0"><u>donette@bbbscfl.org</u></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" style="padding-bottom: 30px;">
    <div class="row justify-content-center" style="min-height:212px;width: 100%">
      <div class="col-2 justify-content-end d-flex">
        <div style="padding-top: 0px;margin-top: 10px;">
          <img src="" style="width: 215px;height:215px"/>
        </div>
      </div>
      <div class="col-6">
        <h3 style="text-align:left;color:white">Nicole Krokosz</br><span class="font-italic">Client Support Manager</span></h3>
          <p class="pr-5 textAlignStart">
            Nicole began her career with Big Brothers Big Sisters in Palm Beach, FL in 2016 as a Site-Based Enrollment and Match Specialist. She joined the BBBS of Central Florida team as a Client Support Manager in the beginning of 2018. Nicole graduated from the University of Wisconsin – Stevens Point with her Bachelor of Science Degree in Family and Consumer Sciences, specializing in Child, Youth, and Family Studies. Nicole is passionate about ensuring the development of healthy and happy friendships between Littles and their Bigs. In her free time, Nicole enjoys spending time outdoors with her dog and also participating in community events.
          </p>
        <div class="d-flex justify-content-start">
          <button type="button" class="btn btn-link" style="padding:0"><u>nicolek@bbbscfl.org</u></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" style="padding-bottom: 30px;">
    <div class="row justify-content-center" style="min-height:212px;width: 100%">
      <div class="col-2 justify-content-end d-flex">
        <div style="padding-top: 0px;margin-top: 10px;">
          <img src="" style="width: 215px;height:215px"/>
        </div>
      </div>
      <div class="col-6">
        <h3 style="text-align:left;color:white">Kristi Marcera</br><span class="font-italic">Brevard County Coordinator</span></h3>
          <p class="pr-5 textAlignStart">
            Kristi, new to the state of Florida as of March 2018, has recently begun her journey with Big Brothers Big Sisters. Kristi graduated with her Bachelor’s in Peace and Justice Studies and Sociology from Nazareth College of Rochester in New York State in 2012 and since then has been committed to working and volunteering in any capacity to make a difference. Kristi has a passion for community and working alongside people to further promote empowerment and growth. In her spare time, Kristi enjoys everything outdoors, especially on the beach or water.
          </p>
        <div class="d-flex justify-content-start">
          <button type="button" class="btn btn-link" style="padding:0"><u>kristi@bbbscfl.org</u></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" style="padding-bottom: 30px;">
    <div class="row justify-content-center" style="min-height:212px;width: 100%">
      <div class="col-2 justify-content-end d-flex">
        <div style="padding-top: 0px;margin-top: 10px;">
          <img src="" style="width: 215px;height:215px"/>
        </div>
      </div>
      <div class="col-6">
        <h3 style="text-align:left;color:white">Katharine Zimmerman</br><span class="font-italic">Grant Consultant</span></h3>
          <p class="pr-5 textAlignStart">
            Katharine Zimmerman has worked in the non-profit sector for 37 years and has raised more than $30 million in funds for non-profits. Her expertise has increased funding sources, enhanced client services, created effective community collaborations and expanded volunteer support for clients and employers. She is a native Floridian and began volunteering and raising money for service organizations before starting grade school. Katharine has worked and volunteered to provide local, state, national and international humanitarian aid and service with a special interest in at-risk children and youth. She has been recognized by funders and peers as an outstanding grant professional for the quality of her proposals, return on investment, funder stewardship and commitment to serving the community. ​
          </p>
        <div class="d-flex justify-content-start">
          <button type="button" class="btn btn-link" style="padding:0"><u>katzimfl@yahoo.com </u></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" style="padding-bottom: 30px;">
    <div class="row justify-content-center" style="min-height:212px;width: 100%">
      <div class="col-2 justify-content-end d-flex">
        <div style="padding-top: 0px;margin-top: 10px;">
          <img src="" style="width: 215px;height:215px"/>
        </div>
      </div>
      <div class="col-6">
        <h3 style="text-align:left;color:white">Alison Ware</br><span class="font-italic">Finance Manager</span></h3>
          <p class="pr-5 textAlignStart">
            Before joining the Big Brothers Big Sisters of Central Florida Team, Alison Ware worked in the church sector at a local church for 19 years. When she is not working, Alison enjoys spending time with her children and her grand-children. ​
          </p>
        <div class="d-flex justify-content-start">
          <button type="button" class="btn btn-link" style="padding:0"><u>aware@bbbscfl.org</u></button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portion 3 Meet Our Brand -->
<div class="content-container centerDivContents" style="min-height:1045px">
  <div class="row justify-content-center">
    <h1 class="pt-3" style="margin-bottom: 25px;">Meet Our Board</h1>
  </div>
  <div class="row row-content justify-content-center">
    <div class="row col-8 justify-content-center pb-4">
        <div class="col-4 px-4">
          <h2 style="color:white">Shannon Elswick</h2>
          <div>
            <img src="" style="width: 215px;height:215px"/>
          </div>
          <p class="px-3" style="text-align: center;">Immediate Past Chairman Executive in Residence at UCF</p>
        </div>
        <div class="col-4 px-4">
          <h2 style="color:white">Ed Schrank</h2>
          <div>
            <img src="" style="width: 215px;height:215px" />
          </div>
          <p class="px-2 mx-4" style="text-align: center;">Chairman President/CEO of Plan B Holdings</p>
        </div>
        <div class="col-4 px-4">
          <h2 style="color:white">Eric Miles</h2>
          <div>
            <img src="" style="width: 215px;height:215px" />
          </div>
          <p class="px-0" style="text-align: center;">Vice Chairman/Program Committee Chair Derivatives Analyst at Bank of New York Mellon</p>
        </div>
        <div class="col-4 px-4">
          <h2 style="color:white">Arne Haak</h2>
          <div>
            <img src="" style="width: 215px;height:215px" />
          </div>
          <p class="px-4" style="text-align: center;">Treasurer Executive Vice President and CFO of Ruth's Hospitality Group</p>
        </div>
    </div>

    <div class="row">
      <div class="col">
        <h2 style="color:white">Current Members</h2>
        <div class="ml-5 textAlignStart">
          <p>Dan Bradley – Communications Director, McNeilly Communications</p>
          <p>Leon Fenn – President, Eagle Communication Services</p>
          <p>David Salazar – CEO, AXIS Data Solutions – A Cathedral Company</p>
          <p>Nicholas Sands – Regional Leasing &amp Acquisitions Associate, Exeter Property Group</p>
          <p>Leslie White – Partner, Dean Mead Attorneys at Law</p>
          <p>Brian Lawrence – Associate Attorney, Lowndes, Drosdick, Doster, Kantor &amp Reed, P.A.</p>
          <p>Eddie Cutillas – Rollins College Crummer MBA Student</p>
          <p>Bryan Zebleckes - Chief Technical Operations Engineer, Orlando Magic</p>
          <p>Mitzi Bell - Clinical Consultant Pharmacist</p>
        </div>
      </div>
      <div class="col">
        <h2 style="color:white">Alumni Council</h2>
        <div class="pl-5 textAlignStart">
          <p>Tim Carrier – Corporate Manager IT / Guest Arrival, Seaworld</p>
          <p>Mike Ferguson – Community Volunteer</p>
          <p>Todd Persons – President, Todd Persons Communications</p>
          <p>Alan Apte – Judge, 9th Judicial Circuit</p>
          <p>Sandra Chen – Director/Legal Affairs, Universal Orlando</p>
          <p>Gary Heath – Director of Business Analysis, Massey Services</p>
          <p>Carmen Piscitelli – Operations Director, MAC Logistics &amp Transportation LLC</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div>
      <h2>Emeritus</h2>
      <p>Rich Bradley - COO, at Power Consulting</p>
    </div>
  </div>
</div>