<!DOCTYPE html>

<div class="content-container centerDivContents border-bottom imgBigThings" style="min-height:700px">
  <div class="row justify-content-center">
    <div class="pt-4" style="margin-right: 400px">
      <h1 style="text-shadow: 4px 4px 4px black">BIG THINGS</br>ARE</br>HAPPENING</h1>
    </div>
  </div>
</div>

<div class="content-container centerDivContents" style="min-height:1202px">
  <div class="col">

    <div class="row justify-content-center " style="min-height: 301px">
      <h2 class="py-3 m-0" style="color:#02fc87;width:100%">IT'S NOT JUST A DONATION, IT'S AN INVESTMENT IN A CHILD'S FUTURE.</h2>
      <div class="row justify-content-center pb-3">
        <div class="col-4 textAlignStart">
          <p>
            When you donate online to Big Brothers Big Sisters of Central Florida, you join our cause and directly support the children in your community. No matter the amount, your contribution can start something BIG in the lives of Central Florida’s youth.  Your financial support helps us provide our programs and services right here in Central Florida—so we can develop more college grads, community leaders and entrepreneurs.
          </p>
          <p>
            Roughly 85% of every dollar you give goes directly to making and supporting matches between Littles and Bigs. This means you can rest assured that we are using donations wisely.
          </p>
        </div>
        <div class="col-3 justify-content-end d-flex">
          <div style="height:350px;width:350px;">
              <img src="" style="width:350px;height:350px" />
          </div>
        </div>
      </div>
    </div>

    <!--     YOUR SUPPORT GOES HERE -->
    <div class="row justify-content-center" style="min-height: 400px">
      <h2 class="py-3 m-0" style="color:#02fc87;width:100%">YOUR SUPPORT GOES HERE</h2>
      <div class="row justify-content-center" style="width:100%">
        <div class="col-3">
          <div style="height:350px;width:350px;">
            <img src=""  style="width: 350px;height:350px" />
          </div>
        </div>

        <div class="col-4 textAlignStart" >
          <p>
            Your financial support helps our Littles achieve BIG things through mentorship, like:
          </p>
          <ul class="pl-5">
            <li>
              <p>100% refrained from becoming a teen parent</p>
            </li>
            <li>
              <p>100% refrained from dropping out of school</p>
            </li>
            <li>
              <p>99% refrained from criminal activity</p>
            </li>
            <li>
              <p>98% reduced risky behaviors</p>
            </li>
            <li>
              <p>88% maintained/improved school grades</p>
            </li>
            <li>
              <p>83% maintained/improved attendance</p>
            </li>
          </ul>
          <p>
            Become a part of the Big Brothers Big Sisters of Central Florida mission and watch your contribution come to life through our children and their positive outcomes.
          </p>
        </div>
      </div>
    </div>

    <!--     IN KIND DONATIONS -->
    <div class="row justify-content-center" style="min-height:392px">
      <h2 class="m-0 py-3" style="color:#02fc87;width:100%">IN-KIND DONATIONS</h2>
      <div class="col-6 textAlignStart">
        <p>
          Big Brothers Big Sisters of Central Florida has many ongoing needs for in-kind donations.  Please see the list below for items that our organization can always put to good use.
        </p>
        <div class="row justify-content-center">
          <div class="col-7">
            <ul class="pl-0">
              <li><p>Books</p></li>
              <li><p>Storage bins and boxes</p></li>
              <li><p>S.A.T. prep books</p></li>
              <li><p>Black or Green plastic table cloths - rectangular</p></li>
              <li><p>Reading, math and science activity books/flash cards – for all age groups</p></li>
              <li><p>Sports items: basketballs, footballs, soccer balls, etc…</p></li>
              <li><p>Arts &amp; crafts: construction paper, glue sticks, scissors, etc…</p></li>
            </ul>
          </div>

          <div class="col-5">
            <ul class="pl-4">
              <li class="mb-0"><p>Board games and puzzles</p></li>
              <li><p>Card games</p></li>
              <li><p>Journals</p></li>
              <li><p>School supplies</p></li>
              <li><p>Bottled water</p></li>
              <li><p>Snacks</p></li>
              <li><p>Restaurant gift cards</p></li>
              <li><p>Gift cards to “big box stores”</p></li>
            </ul>
          </div>
        </div>

      </div>
    </div>  

  </div>
</div>

