<!DOCTYPE html>

<div class="content-container centerDivContents pt-3" style="min-height:1045px">
  <div class="row justify-content-start">
    <div class="col">
      <div class="col-4 offset-2 pr-5">
        <h1 class="ml-2 pr-1">Upcoming Events</h1>
        </div>

    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-3">
      <div class="pb-3 textAlignStart">
        <h3 style="color:white">Charmed by Charity</h3>
        <p>
          Where: Alex and Ani, Disney Springs</br>
          When: Wednesday March 27th, 2019</br>
          Time: 6 PM to 9 PM
        </p>
      </div>
    </div>

    <div class="col-2">
      <div class="mt-4 pb-3">
        <button type="button" class="btn btn-info">
          See the Bracelet
        </button>
      </div>
    </div>

    <div class="col-2">
      <div class="pb-3 textAlignStart">
        <h3 style="color:white">About the Event</h3>
        <p>
          Bowl For Kids’ Sake is Big Brothers Big Sisters’ signature fundraiser. Each year half a million people across America come together to have fun and raise money to support Big Brothers Big Sisters as we change how children grow up. Grab some co-workers, friends, or your neighbors and have some fun while supporting BBBS!
        </p>
      </div> 
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-3">
      <div class="pb-3 textAlignStart">
        <h3 class="">Bowl for Kids Sake</h3>
        <p>
          Where: Boardwalk Bowl</br>
          When: Sunday April 28th, 2019</br>
          Time: TBD
        </p>
      </div>
    </div>

    <div class="col-2">
      <div class="mt-4 pb-3">
        <button type="button" class="btn btn-info">
          Register to Bowl
        </button>
      </div>
    </div>

    <div class="col-2">
      <div class="pb-3 textAlignStart">
        <h3 style="color:white">About the Event</h3>
        <p>
          Bowl For Kids’ Sake is Big Brothers Big Sisters’ signature fundraiser. Each year half a million people across America come together to have fun and raise money to support Big Brothers Big Sisters as we change how children grow up. Grab some co-workers, friends, or your neighbors and have some fun while supporting BBBS!
        </p>
      </div> 
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-3">
      <div class="pb-3 textAlignStart">
        <h3 style="color:white">Tee Up for Kids!</h3>
        <p>
          Where: Rosen Shingle Creek</br>
          When: Friday May 10th, 2019</br>
          Time: 7 AM to 1 PM
        </p>
      </div>
    </div>

    <div class="col-2">
      <div class="mt-4 pb-3">
        <button type="button" class="btn btn-info">
          Register to Golf
        </button>
      </div>
    </div>

    <div class="col-2">
      <div class="pb-3 textAlignStart">
        <h3 style="color:white">About the Event</h3>
        <p>
          Spend the day with us in the Florida sunshine and enjoy good fun for a great cause. Grab some friends or co-workers and enjoy a fun round of golf!
        </p>
      </div> 
    </div>
  </div>

  <div class="row justify-content-center">

    <div class="col-3">
      <div class="pb-3 textAlignStart">
        <h3 style="color:white">
          Brevard Cooking from the Heart</br>
          **POSTPONED**
        </h3>
        <p>
          Due to unforseen circumstances, the 25th Annual Brevard Cooking from the Heart event has been postponed until a later date. We will provide updates as they become available.
        </p>
        <p>
          Thank you for your patience!
        </p>
      </div>
    </div>

    <div class="col-2">
      <div class="mt-4 pb-3">
        <button class="sr-only">
          Invisible Button
        </button>
      </div>
    </div>

    <div class="col-2">
      <div class="pb-3 textAlignStart">
        <h3 style="color:white">About the Event</h3>
        <p>
          Due to unforseen circumstances, the 25th Annual Brevard Cooking from the Heart event has been postponed until a later date. We will provide updates as they become available.
        </p>
        <p>
          Thank you for your patience!
        </p>
      </div> 
    </div>
  </div>
</div>