<!DOCTYPE html>

<div class="content-container centerDivContents pb-2 pt-5" style="min-height: 672px">
  <div class="row">
    <div class="col pt-4">
      <h3 class="pb-4 pt-2">Orange</br>County</h3>
      <h3 class="py-4">Lake</br>County</h3>
      <h3 class="py-4">Brevard</br>County</h3>
    </div> 

    <div class="col-5">
      <h3>Youtube Player</h3>
    </div>

    <div class="col mt-5">
      <h3 class="py-5">Osceola</br>County</h3>
      <h3 class="py-5">Seminole</br>County</h3>
    </div>
  </div>
</div>

<div class="content-container pb-2 imgBackDefend" style="min-height:471px">
  <div class="row justify-content-center">
    <div class="col-sm-5 pt-5" style="margin-right:482px">
      <div class="col-sm-9 mt-3 p-0 centerDivContents">
        <h1 style="font-size:36px">DEFENDERS OF POTENTIAL</h1>
        <p class="pr-5" style="color:black;text-align:center">
          Our mission is to provide children facing adversity with strong and enduring, professionally supported one-to-one relationships that change their lives for the better, forever.
        </p>
        <button type="button" class="btn btn-info">
          Make A Donation
        </button>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-7 pt-5" style="margin-right:510px">
      <div class="centerDivContents">
        <h1 class="ml-4" style="font-size:36px">MILLIONS OF CHILDREN NEED A CARING ADULT ROLE MODEL​</h1>
        <p class="millionsChildren" style="color:black;text-align-last:center">
          When children and teens have the influence of a caring adult, they are more likely to avoid risky behaviors and to focus on academics. Today's youth face a variety of challenges, and being matched with a Big Brother or Big Sister can help them navigate these challenges and reach their potential.
        </p>
      </div>
    </div>
</div>

<div class="content-container centerDivContents pb-2 imgBackJoin" style="min-height:532px">
  <h1>JOIN US TODAY</h1>
</div>

<div class="content-container centerDivContents pb-2" style="min-height:874px">
  <div class="row">
    <div class="col centerDivContents pt-2">
      <div class="meet2019">
        <h1>Meet 2019's Overall Big Brother and Big Sister for Central Florida</h1>
      </div>
    </div>
  </div>
  <div class="row meet2019" style="min-height:315px">
    <div class="col">
      <h1>Youtube Videos</h1>
    </div>
    <div class="col">
      <h1>Youtube Videos</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row meet2019">
        <div class="col">
          <h1>Meet the Recipient of the Inaugural "Committed 2Kids Leadership Impact Award"</h1>
        </div>
      </div>
      <div class="row meet2019">
        <div class="col">
          <h1>One Video</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-container centerDivContents pb-2" style="background-color:black;min-height:635px">
  <h1>Picture Frame Goes Here</h1>
</div>

<div class="content-container centerDivContents pb-2" style="background-color:black;min-height:722px">
  <h1>Contact Us</h1>
</div>



