<!DOCTYPE html>

<div class="content-container centerDivContents pb-2 pt-5" style="background-color:black;min-height: 672px">
  <div class="row">
    <div class="col ">
      <h3>Orange</br>County</h3>
      <h3>Lake</br>County</h3>
      <h3>Brevard</br>County</h3>
    </div> 

    <div class="col-7 centerDivContents">
      <h3>Youtube Player</h3>
    </div>

    <div class="col centerDivContents">
        <div>
        <h3>Osceola</br>County</h3></div>
        <h3>Seminole</br>County</h3>
      </div>
    </div>
  </div>
</div>

<div class="content-container centerDivContents pb-2" style="background-color:black;min-height:471px">
  <h1>Defenders</h1>
</div>

<div class="content-container centerDivContents pb-2" style="background-color:black;min-height:532px">
  <h1>JOIN US TODAY</h1>
</div>

<div class="content-container centerDivContents pb-2" style="background-color:black;min-height:874px">
  <h1>Meet 2019's Overall Big Brother and Big Sister for Central Florida</h1>
</div>

<div class="content-container centerDivContents pb-2" style="background-color:black;min-height:635px">
  <h1>Picture Frame Goes Here</h1>
</div>

<div class="content-container centerDivContents pb-2" style="background-color:black;min-height:722px">
  <h1>Contact Us</h1>
</div>



