/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  color:white;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.centerDivContents{
  text-align:center;
}
li{
  color:white;
}
body {
  background-color: black;
  opacity: 0.82;
  font-family: "Open-Sans";
}
p {
  color:white;
  text-align: left;
  opacity: 1;
  font-size: 20px;
  font-weight: normal;
}
h1 {
  color:#02fc87;
  font-weight: normal
}
h2 {
  color:white;
}
h3 {
  color:#02fc87;
  font-weight:bold;
  font-size:30px;
}

h4 {
  color: white;
}

.imgBackJoin {
  opacity: 0.9;
  background-image:url('../img/WEDD3439.jpg');
  background-size:100% auto;
  background-repeat: no-repeat;
  background-position-y:-342px;
}
.imgBackDefend {
  opacity: 0.9;
  background-image:url('../img/WEDD3097.jpg');
  background-size:100% auto;
  background-repeat: no-repeat;
  background-position-y:-380px;
}

.meet2019 {
  width:1140px;
  margin-left:350px
}

.text-light {
  color: white;
}

border-bottom, border-top {
  opacity: 0.05;
}

.textAlignStart {
  text-align: start;
}

.millionsChildren{
  padding-left: 278px;
  padding-right: 278px;
}