/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: rgb(10,10,24);
  filter:brightness(90%);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index:1000;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
#youtubeFrame{
  border-top: solid 2px #02fc87;
  border-right: solid 2px #02fc87;
  border-bottom: solid 2px white;
  border-left: solid 2px white;
  padding:0px;
}

li{
  color:white;
}
ul li {
  color:#02fc87;
}
li > p {
    margin:0;
}
body {
  background-color:rgb(10,10,18);
  font-family: "Open-Sans";
}
p {
  color:white;
  font-height: 19px;
  font-weight: normal;
}
h1 {
  color:#02fc87;
  font-weight: normal
}
h2 {
  color:#02fc87;
}
h3 {
  color:#02fc87;
  font-weight:bold;
  font-size:30px;
}

h4 {
  color: white;
}
.centerDivContents{
  text-align:center !important;
}
.imgBackJoin {
  background-image:url('../img/WEDD3439.jpg');
  background-size:100% auto;
  background-repeat: no-repeat;
  background-position-y:-342px;
}
.imgBackDefend {
  background-image:url('../img/WEDD3097.jpg');
  background-size:100% auto;
  background-repeat: no-repeat;
  background-position-y:-380px;
}

.meet2019 {
  width:1140px;
  margin-left:350px
}

.text-light {
  color: white;
}

border-bottom, border-top {
  opacity: 0.05;
}

.textAlignStart {
  text-align:start;
}
.textAlignCenter {
  text-align:center;
}
.millionsChildren{
  color:black;
  margin:0;
}

.btn-link{
  color:white;
}