/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: rgb(10,10,24);
  filter:brightness(90%);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100vw; /* Full width */
  z-index:1000;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}



#youtubeFrame{
  border-top: solid 2px #02fc87;
  border-right: solid 2px #02fc87;
  border-bottom: solid 2px white;
  border-left: solid 2px white;
  padding:0px;
}

li{
  color:white;
}
ul li {
  color:#02fc87;
}
li > p {
    margin:0;
    text-align: left;
}
body {
  background-color:rgb(10,10,18);
  font-family: "Open-Sans";
}
p {
  color:white;
  font-height: 19px;
  font-weight: normal;
  filter: brightness(170%);
  filter: opacity(1);
}
h1 {
  color:#02fc87;
  font-weight: normal
}
h2 {
  color:#02fc87;
}
h3 {
  color:#02fc87;
  font-weight:bold;
  font-size:30px;
}

h4 {
  color: white;
}
.centerDivContents{
  text-align:center !important;
}
.imgBackJoin {
  background-image:url('../img/WEDD3439.jpg');
  background-size:100% auto;
  background-repeat: no-repeat;
  background-position-y:-342px;
  filter: opacity(0.75);
}
.imgBackDefend {
  background-image:url('../img/WEDD3097.jpg');
  background-size:100% auto;
  background-repeat: no-repeat;
  background-position:center;
  background-color: black;
  filter: opacity(0.8);
}

.imgCollage{
  background-image:url('../img/BeFunky-collage.png');
  background-repeat: no-repeat;
  width: 800px;
  height: 800px;
  padding:0;
}
.imgBigThings{
  background-image:url('../img/First005 Maria+Jazmin.jpg');
  background-size:100% auto;
  background-repeat: no-repeat;
  background-position-y:-145px;
}

.imgHeaderBrand{
  background-image:url('../img/RBG-Tagline-Igniting-Potential-White-Green.svg');
  background-size:100% auto;
  min-height: 105px;
  background-repeat: no-repeat;
  width: 220px;
  z-index: 999;
}

.text-light {
  color: white;
}

border-bottom, border-top {
  opacity: 0.05;
}

.textAlignStart {
  text-align:start;
}
.textAlignCenter {
  text-align:center;
}
.millionsChildren{
  color:black;
  margin:0;
}

.btn-link{
  color:white;
}

.row {
  margin:auto;
}

.colorBlack{
  color: black;
  filter: brightness(200%);
  font-height: 19px;
  font-weight: normal;s
  filter: opacity(1);
}
.colorWhite{
  color: white;
  filter: brightness(100%)
  font-height: 19px;
  font-weight: normal;
  filter: opacity(1);
}
.colorTheme{
  color: #02fc87;
  filter: brightness(200%);
  font-height: 19px;
  font-weight: normal;
  filter: opacity(1);
}
